<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <% include chanks/links.ejs %>
</head>

<body>
    <!-- xs sm md lg -->
    <!-- https://getbootstrap.com/docs/4.0/utilities/display/ -->
    <div class="w-header w-header_cosmetic navbar navbar navbar-light bg-light sticky-top p-1">
        <div class="container">
            <header>
                <nav class="navbar p-1">
                    <a class="navbar-brand text-secondary" href="#">
                        <img class="d-inline-block" src="/static/img/logo.jpg" width="100">
                        Котаблог
                    </a>

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <main class="w-main w-main_position">
        <div class="container-fluid">
            <div class="row">
                <aside class="aside aside_cosmetic d-none d-md-block col-sm-12 col-md-2 p-3">
                    <div class="">
                        <p class="h4 text-dark">
                            <span class="fa fa-twitter"></span> Твитов в ряд
                            <span class="inputCount">3</span>
                        </p>
                        <input type="range" class="inputRange mt-3" min="1" max="3" value="3">
                    </div>
                </aside>
                <main class="col-sm-12 col-md-10 p-md-5">

                    <!-- Блок с основным контентом -->
                    <!--
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-secondary alert-dismissible text-center fade show">
                                Спасибо что зашел!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
-->

                    <div class="main container">
                        <h1 class="text-secondary mb-3">Котаблог</h1>
                        <div class="row">
                           
                            <!-- Выводим новости  -->
                            <% allNews["allNews"].forEach((item)=>{ %>
                                <div class="col-12 col-sm-6 col-md-4 p-0">
                                    <div class="card m-1">
                                        <h5 class="card-header"><span class="fa fa-twitter mr-1"></span>
                                            <%=item["date"] %>
                                        </h5>
                                        <div class="card-body">
                                            <h5 class="card-title"><%=item["title"] %></h5>
                                            <p class="card-text">
                                                <%=item["description"] %>
                                            </p>

                                            <div class="card-body__panel">
                                                <button type="button" class="btn text-white btnIcon d-inline btnIcon_general" data-toggle="modal" data-target="#sendMe">
                                                    <span class="fa fa-comment-o"></span>
                                                </button>
                                                <button type="button" class="btn text-white btnIcon d-inline btnIcon_like">
                                                    <span class="fa fa-heart-o"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                            
                        </div>
                    </div>

                    <!-- Блок с рекомендациями (.w-100 менее читабелен) -->
                    <div class="container mb-4 mt-4 mt-sm-5">

                        <h2 class="text-secondary mb-3">Твиты за другие дни</h2>
                        <div class="card-group ">
                            <div class="row w-100 mx-auto">
                                <div class="col-12 col-sm-6 col-md-4 p-1">
                                    <a href="#" class="card text-secondary">
                                        <div class="card-img-top card-group__img" alt="days" style='background-image: url("/static/img/logo.jpg")'>
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">Твиты за 25.11</h5>
                                            <p class="card-text">Странный день</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 p-1">
                                    <a href="#" class="card text-secondary">
                                        <div class="card-img-top card-group__img" alt="days" style='background-image: url("/static/img/logo.jpg")'>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Твиты за 24.11</h5>
                                            <p class="card-text">Еда в доме</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 p-1">
                                    <a href="#" class="card text-secondary">
                                        <div class="card-img-top card-group__img" alt="days" style='background-image: url("/static/img/logo.jpg")'>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Твиты за 23.11</h5>
                                            <p class="card-text">Переезд в новую квартиру</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </div>
    </main>

    <footer class="w-footer w-footer_cosmetic">
        <div class="w-footer-pre w-footer-pre_cosmetic">
            <div class="container">
                pre footer
            </div>
        </div>


        <div class="container">
            <div class="row">
                <footer class="col-12">footer</footer>
            </div>
        </div>
    </footer>

    <!-- Модальные окна -->
    <div id="sendMe" class="modal show fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Напиши мне</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <p>Ты пока не можешь мне написать, но я знаю что если бы мог, то написал бы что то очень классное :З</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <% include chanks/scripts.ejs %>
</body>

</html>