<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <% include chanks/links.ejs %>
</head>

<body>
    <!-- xs sm md lg -->
    <!-- https://getbootstrap.com/docs/4.0/utilities/display/ -->
    <div class="w-header">
        <div class="container">
            <div class="row">
                <header class="col-12">header</header>
            </div>
        </div>
    </div>

    <div class="w-main">
        <div class="container-fluid">
            <div class="row">
                <aside class="d-none d-sm-block col-sm-12 col-md-3 order-last order-md-first">aside</aside>
                <main class="col-sm-12 col-md-9">

                    <!-- Блок с основным контентом -->
                    <div class="row">
                        <div class="col-12">
                            <img src="https://picsum.photos/id/237/200/300" alt="" class="img-fluid float-left mr-3">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, cum, libero. Eaque eveniet optio ab quas laborum porro, corrupti consequatur cumque molestias et inventore debitis sint! Suscipit esse, commodi nesciunt.</span>
                        </div>
                    </div>

                    <!-- Блок с рекомендациями (.w-100 менее читабелен) -->
                    <div class="row">
                        <div class="col">1</div>
                        <div class="col">2</div>
                        <div class="col">3</div>
                        <div class="col">4</div>
                        <div class="col">5</div>
                    </div>

                </main>
            </div>
        </div>
    </div>

    <div class="w-footer">
        <div class="w-footer-pre">
            <div class="container">
                pre footer
            </div>
        </div>


        <div class="container">
            <div class="row">
                <footer class="col-12">footer</footer>
            </div>
        </div>
    </div>

    <% include chanks/scripts.ejs %>
</body>

</html>