// Цвета проекта: https://coolors.co/d1f9db-f4ebe2-e4dcc8-f3ccdf-f0b1a7

* {
    margin: 0;
    padding: 0;
}

.w {
    &-header {
        min-height: 8vh;
        z-index: 1;
        
        &_position {
            position: fixed;
            width: 100%;
        }
        &_cosmetic {
            box-shadow: 0 0 10px #ababab;
        }
    }
    &-main {
        &_position {
            padding-top: 6.25rem;
        }
    }
    &-footer {
        min-height: 12vh;
        
        &-pre {
            &_cosmetic {
                background: #191919;
            }
        }
        &_cosmetic {
            background: #2b2b2b;
        }
    }
}

.aside {
    &_cosmetic {
        background: #e0e0e0;
        color: white;
    }
}

.card-group__img {
    height: 9rem;
    background-position: top center;
    background-repeat: no-repeat;
}