// Цвета проекта: https://coolors.co/d1f9db-f4ebe2-e4dcc8-f3ccdf-f0b1a7

* {
    margin: 0;
    padding: 0;
}

.inputRange {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #f8f9fa;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #191919;
  cursor: pointer;
}
.inputRange::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background: #191919;
  cursor: pointer;
}

.btnIcon {
    display: flex;
    font-size: 1.175rem;
    padding: .175rem .575rem;
    font-weight: 700;    
    
    &_like {
        background-color: #ff5b5b;
    }
    &_general {
        background-color: #5c96ec;
    }
    &:hover {
        background: #585858;
    }
}

.w {
    &-header {
        min-height: 8vh;
        z-index: 1;
        
        &_position {
            position: fixed;
            width: 100%;
        }
        &_cosmetic {
            box-shadow: 0 0 10px #ababab;
        }
    }
    &-main {}
    &-footer {
        min-height: 12vh;
        
        &-pre {
            &_cosmetic {
                background: #191919;
            }
        }
        &_cosmetic {
            background: #2b2b2b;
        }
    }
}

.aside {
    &_cosmetic {
        background: #e0e0e0;
        color: white;
    }
}

.card-group__img {
    height: 9rem;
    background-position: top center;
    background-repeat: no-repeat;
}